body{
    margin: 0px;
    padding: 0px;
}
html{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    width: 90%;
    margin: 0px;
    margin-left: 5%;

    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    background-color: #3c3c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    width: fit-content;
}
.seccion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
table{
    table-layout: auto;
    border: 1px solid black;
    border-radius: 10px;

}

th, td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
th{
    background-color: crimson;
}
.par {
    background-color: #7a7a7a;
}
.impar {
    background-color: #bebebe;
}
.cajares{
    background-color: #3c3c3c;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
caption{
    width: 100%;
    text-align: center;
}
